{% extends 'users/shared/base.html' %}

{% block content %}
<main id="main" class="main" >

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">


                <div class="card-body">
                  <h5 class="card-title">Total Project</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-menu-button-wide"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{total_p}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">



                <div class="card-body">
                  <h5 class="card-title">Finished Project</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-menu-button-wide"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ ongoing_p }}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

 

                <div class="card-body">
                  <h5 class="card-title">Ongoing Projects</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-menu-button-wide"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{finished_p}}</h6>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

           


            

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card" style="overflow:auto;height: 250px;">
            <div class="filter">

            </div>

            <div class="card-body ">
              <h5 class="card-title">Activity Logs</h5>

              <div class="activity">
                {% for i in data %}

                <div class="activite-label"> </div>
                <div class="activity-item d-flex">
                  
                  {% if i.action == 'Logged In' %}
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'>
                  </i>
                  {% elif i.action == 'Logged Out' %}
                  <i class='bi bi-circle-fill activity-badge text-danger align-self-start'>

                  </i>
                  {% else %}

                  <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>

                  {% endif %}
                
                  <div class="activity-content">
                   <b> {{ i.user.Fullname }} {{ i.action }}</b> at 
                    {{ i.timestamp|date:"H:i - Y-m-d" }}  
                  </div>
                </div>
                {% endfor %}


              </div>

            </div>
          </div><!-- End Recent Activity -->



        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


            {% endblock content %}


