{% include 'users/shared/base.html' %}
{% load static %}

<section class="section dashboard container justify-content-center d-flex align-items-center " style=" margin-top: 100px; ;">
    
    <div class="row">

      <div class="col">

        <div class="row">
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">

                {% if user is not None and user.is_superuser %}
                <a class="me-2" href="{% url 'admin_dashboard' %}"><i class="bi bi-arrow-left" style="font-size:30px;"></i></a>


               {% elif user is not None and user.is_staff and user.is_active and not user.is_superuser %}
                
                <a class="me-2" href="{% url 'user_dashboard' %}"><i class="bi bi-arrow-left" style="font-size:30px;"></i></a>
                 
               {% endif %}
    

       
            <div class="container">
                <form class="form-detail" action="" method="post" id="signupform">
                    {% csrf_token %}
    
                    {{form.as_p}}
    
                    <div class="form-row-last">
                        <input type="submit" name="save" class="register" value="Save">
                    </div>
                </form>

        </div>

              </div>

            </div>
          </div><!-- End Recent Sales -->

          <!-- Top Selling -->

        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      
    </div>
  </section>



    <a class="me-2" href="{% url 'user_profile' %}"><i class="bi bi-arrow-left" style="font-size:30px;"></i></a>


    



